<div class="min-h-screen bg-gray-100">
  <div class="flex justify-between items-baseline p-5 text-white bg-blue-800 border-t-8 border-blue-900">
    <LinkTo class="text-3xl" @route="index">
      <span class="hidden md:block">Archers Review</span>
      <span class="md:hidden block">AR</span>
    </LinkTo>
    <LinkTo class="text-lg" @route="about">FAQ</LinkTo>
  </div>

  {{outlet}}
</div>
